:root {
	--boardMaxWidth: 120rem;
	--boxSize: 4rem;
	--boxBorderSize: 1px;
	--validShipColor: green;
	--invalidShipColor: rgba(255, 0, 0, 0.692);
}

html {
	box-sizing: border-box;
	font-size: 10px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	min-height: 100vh;

	background-color: skyblue;
}

/* ==============================================
					MAIN LAYOUT
=================================================*/

.app {
	border: 1px solid red;
	width: 100%;
	background-color: skyblue;
	/* width: 80vw; */
	/* max-width: 120rem; */
	height: 100vh;
	margin: 0 auto;
}

.landing-page {
	margin: 0 auto;
	background-color: skyblue;

	height: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr;
}

.landing-page-title {
	text-align: center;
	font-size: 12rem;

	grid-row: 1 / 2;
}

.landing-page-menu-container {
	background-color: steelblue;
	grid-row: 2 / -1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.landing-page-menu {
	list-style: none;
	grid-area: menu;
}

.landing-page-menu-link {
	text-decoration: none;
	color: rgb(20, 106, 206);
	font-size: 3rem;
	margin-bottom: 2rem;
}

.setup {
	border: 2px solid red;
	height: 100%;
}

.setup-area {
	border: 1px dotted blue;
	margin: 0 auto;
	max-width: 120rem;
	height: 100%;
}

.play-area {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* =================================================================
					BOARD
==================================================================== */

.human-board {
	grid-column: 1 / span 1;
}

.computer-board {
	grid-column: 2 / span 1;
	border: 2px solid yellow;
	cursor: crosshair;
}

.game-board {
	display: grid;
	grid-template: repeat(10, auto) / repeat(10, minmax(1rem, calc((60vh / 10) - 2 * var(--boxBorderSize))));
	align-items: start;
	max-width: var(--boardMaxWidth);
}

/* =================================================================
					SQUARE
==================================================================== */

.board-square {
	/* width: var(--boxSize);
	height: var(--boxSize); */
	width: calc((60vh / 10) - 2 * var(--boxBorderSize));
	height: calc((60vh / 10) - 2 * var(--boxBorderSize));
	border: 1px dashed darkblue;
}

.hovered-square-warn {
	border: 2px solid var(--invalidShipColor);
}

.hovered-square-clear {
	border: 2px solid var(--validShipColor);
}

.occupied-square {
	background: #000;
	border: 1px solid #fff;
}

.hidden-square {
	background: gray;
}

.hit-square {
	background: rgb(214, 13, 13);
}

.empty-square {
	background: rgb(20, 106, 206);
}

/* =================================================================
					SHIP
==================================================================== */

.shipyard {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border: 1px solid greenyellow;
}

.ship {
	/* width: var(--boxSize); */
	display: flex;
	/* flex-direction: column; */
	border: 1px solid black;
}

.ship div {
	width: calc((60vh / 10) - 2 * var(--boxBorderSize));
	height: calc((60vh / 10) - 2 * var(--boxBorderSize));
}

.ship.vertical {
	flex-direction: column;
	border-bottom: 1px solid black;
}
